<div class="container">
	<div class="formGroup">
		<label>Lake Shasta:
		  <input type="checkbox" ng-model="lakeNames.value1"
		         ng-true-value="'SHA'">
		 </label><br/>
		 <label>Lake Casitas:
		   <input type="checkbox" ng-model="lakeNames.value2"
		          ng-true-value="'CSI'">
		  </label><br/>
		  <label>Diamond Valley Lake:
		    <input type="checkbox" ng-model="lakeNames.value3" ng-true-value="'DMV'">
		  </label><br/>
	</div>
	<div class="formGroup">
		<label>Lake Tahoe:
		  <input type="checkbox" ng-model="lakeNames.value4"
		         ng-true-value="'TAH'">
		 </label><br/>
		 <label>Lake Crowley:
		   <input type="checkbox" ng-model="lakeNames.value5"
		          ng-true-value="'CRW'">
		  </label><br/>
		  <label>Lake San Antonio:
		    <input type="checkbox" ng-model="lakeNames.value6" ng-true-value="'ATN'">
		  </label><br/>
	</div>
</div>
<lakes class="lakeChart" lake-data="lakeData" selected="lakeNames"></lakes>
<lake-map class="lakeMap" selected="lakeNames" lake-info="lakeInfo" ca-boundaries="caBoundaries"></lake-map>